astroid
certifi
chardet
click
colorama
gunicorn
idna
isort
itsdangerous
Jinja2
lazy-object-proxy
MarkupSafe
mccabe
PyJWT
pylint
pytz
six
toml
twilio
urllib3
Werkzeug
wrapt
mftool==2.7.1
yahoo_fin
yfinance ==0.2.33
openai
Flask
requests
